# ============================================================
# Vivado / FPGA
# ============================================================
*.jou
*.log
*.str
*.xpr
*.bit
*.hwh
*.xsa
*.dcp
*.ltx

.cache/
.runs/
.xil/
.sim/
xsim.dir/

# ============================================================
# Simulation Outputs
# ============================================================
*.wdb
*.vcd
*.fst
*.fsdb

# ============================================================
# Vitis / SDK
# ============================================================
.metadata/
Debug/
Release/

# ============================================================
# OS / Editor
# ============================================================
.DS_Store
Thumbs.db
.vscode/
*.swp
